<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Đổi mật khẩu</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="login-container">
    <h2 class="brand">Đổi mật khẩu</h2>

    <form method="POST">
        <div class="input-group">
            <input type="password" placeholder="Mật khẩu mới" required>
        </div>

        <div class="input-group">
            <input type="password" placeholder="Xác nhận mật khẩu" required>
        </div>

        <button class="btn-login">Cập nhật</button>
    </form>
</div>

</body>
</html>
