<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="auth-page">

<div class="auth-container">
    <div class="auth-image">
        <img src="{{ url_for('static', filename='images/starbucks-cartoon.png') }}">
    </div>

    <div class="auth-form">
        <h2>Change Password 🔐</h2>
        <p class="sub-text">Update your security</p>

        <form method="POST">
            <div class="input-group">
                <input type="password" name="old_password" placeholder="Old password" required>
            </div>

            <div class="input-group">
                <input type="password" name="new_password" placeholder="New password (≥6 chars)" required>
            </div>

            <button type="submit">Update</button>
        </form>
    </div>
</div>

</body>
</html>
