<!DOCTYPE html>
<html lang="vi">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="sidebar">
<h3>Dashboard</h3>
<ul>
<li>Gọi món</li>
<li>Hóa đơn</li>


{% if role == 'admin' %}
<li>Quản lý nhân viên</li>
<li>Doanh thu</li>
<li><a href="/change-password">Đổi mật khẩu</a></li>
{% endif %}


<li><a href="/logout">Đăng xuất</a></li>
</ul>
</div>


<div class="content">
<h2>Xin chào {{ role|upper }}</h2>
<p>Hệ thống quản lý quán cà phê Katinat</p>
</div>
</body>
</html>