body {
    background-color: #f4f6f9;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #343a40;
}

.sidebar .nav-link {
    color: #ddd;
    margin-bottom: 8px;
}

.sidebar .nav-link:hover {
    background-color: #495057;
    color: #fff;
    border-radius: 4px;
}

.content {
    width: 100%;
    background-color: #f4f6f9;
}
